.button
{
    -fx-background-color : #FF640A;

}

.button:hover
{
    -fx-background-color : #BA4E0D;
    -fx-background-radius : 30 0 0 30;
}
.text-field
{
    -fx-focus-color: -fx-control-inner-background ;
    -fx-faint-focus-color: -fx-control-inner-background ;
}
